<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-side-nav>
    </app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header class="headerZ"(toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="page">
      <div class="page__box">Contribuyentes</div>
      <div class="page__content">
        <!-- <h1>Pagina: algo / algo </h1> -->
        <app-contribuyente-table [contribuyentes]="this.contribuyenteData" (contribuyenteId)="getContribuyenteId($event)"></app-contribuyente-table>

      </div>

    </div>


  </mat-drawer-content>
</mat-drawer-container>



