<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-side-nav>
    </app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header class="headerZ"(toggleSidebarForMe)="sideBarToggler()"></app-header>
    <div class="page">
      <div class="page__box">Detalle Contribuyentes </div>
      <div class="page__content">
        <app-contribuyente-form [contribuyenteInfo]="this.contribuyenteInfo"></app-contribuyente-form>
        <div class="page__content">
          <div>
            <h3>Pagina {{pageNumber}} de {{paginasRestantes}}</h3>
            <h3> Total de Registros:{{this.cantidadRegistros}}</h3>
            <div>
              <button mat-raised-button color="primary" (click)="prevPage()">Pagina anterior</button>
              <button mat-raised-button color="primary" (click)="nextPage()">Siguiente Pagina</button>
            </div>
          </div>
          <app-contribuyente-facturas [contribuyentesFacturas]="this.facturasContribuyentes" [contribuyenteMontoAPagarITBIS] ="this.montoTotalITBIS"></app-contribuyente-facturas>
        </div>
      </div>

    </div>


  </mat-drawer-content>
</mat-drawer-container>



